<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>CRUDTestJob</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/style/styleCss.css"/>
</head>
<body>

	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="/" class="brand-logo">Gestão de voluntariado</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
<!-- 		        <li><a href="/campanha" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Entrar</a></li> -->
<!-- 				<li><a href="/logout" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Sair</a></li> -->

		      </ul>
		    </div>
		</nav>
	
	</header>
	
	<th:block th:include="mensagemValidacao"></th:block>
	
	<div th:each="campanha : ${campanha}" class="container form">
	
		<h5>Detalhe da Campanha</h5>

	<form class="container" method="post" th:object="${campanha}" th:action="@{/campanha/editar/{id}}" id="myform">
		<input type="hidden" th:field="*{id}" />
		
		Nome: <input type="text" th:field="*{nome}" name="nome"/>
		
		<div class="row">
			<div class="input-field col s6">
				Organização: <input type="text" th:field="*{organizacao}" name="organizacao"/>
			</div>
			<div class="input-field col s6">
				E-mail: <input type="text" th:field="*{email}" name="email"/>
			</div>
			<div class="input-field col s6">
				Título E-mail: <input type="text" th:field="*{emailTitulo}" name="emailTitulo"/>
			</div>
			<div class="input-field col s6">
				Quantidade de Voluntários: <input type="text" th:field="*{quantidadeMaximaVoluntarios}" name="quantidadeMaximaVoluntarios"/>
			</div>
		</div>
		
		Documento de Submissão (modelo): <textarea class="form-control" style="height:300px"  name="documento" rows="50" cols="60" th:text="*{documento}" form = "myform"></textarea>
		
		Detalhe: <textarea class="form-control" style="height:300px"  name="detalhe" rows="50" cols="60" th:text="*{detalhe}" form = "myform"></textarea>
		
		 <button class="waves-effect waves-light btn" type="submit">Salvar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="waves-effect waves-light btn" type="button" onclick="javascript:history.go(-1);">Voltar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="waves-effect waves-light btn" type="button" th:href="@{'/campanha/' +${campanha.id} + '/voluntario'}">Ver Voluntários</a>
			
	</form>
	
	
	
	</div>
	



<!-- 	<table class="container form"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th>Nome Condultor</th> -->
<!-- 				<th>E-mail</th>				 -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr th:each="usuario : ${usuarios}"> -->
<!-- 				<td><span th:text="${nome}"></span></td> -->
<!-- 				<td><span th:text="${email}"></span></td>				 -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>